<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/master.css">
    <meta charset="utf-8">
    <title>Gallery</title>
  </head>
  <body>
    <h1>Welcome to the gallery!</h1>
    <div class="box red-box"></div>
    <div class="box green-box"></div>
    <div class="box blue-box"></div>
  </body>
</html>
