<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/master.css">
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Hello {{username}}!</h1>
  </body>
</html>
